*{
    padding: 15px;
}
input {
    border-radius: 5px;
   font-size: 15px;
  }
button {
    background-color: rgba(55, 55, 173, 0.719);
    color: rgb(251, 251, 251);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
  }
  button:hover {
    background-color: rgb(231, 173, 65);
    color: black;
    cursor: pointer;
  }